# System directories/files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local virtual environments
venv/
env/
.venv/
.env

# Various local/cache files
*.db
*.sqlite3
.cache
.pytest_cache

# System files
.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yaml

# IDE
*.iml
.idea/
.vscode/